body {
    padding: 5%;
    background-color: #1E1E1E; /* Dunkle Hintergrundfarbe für den Body */
    color: #FFFFFF; /* Helle Textfarbe für den Body */
}

.container {
    padding: 0;
    background-color: #333333; /* Dunkle Hintergrundfarbe für den Container */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* ===== MENÜ ===== */
.menu {
    float: left;
    height: 700px;
    width: 70px;
    background: #4768b5; /* Dunkle Hintergrundfarbe für das Menü */
    background: -webkit-linear-gradient(#4768b5, #35488e);
    background: -o-linear-gradient(#4768b5, #35488e);
    background: -moz-linear-gradient(#4768b5, #35488e);
    background: linear-gradient(#4768b5, #35488e);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

.menu .items {
    list-style: none;
    margin: auto;
    padding: 0;
}

.menu .items .item {
    height: 70px;
    border-bottom: 1px solid #6780cc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9fb5ef;
    font-size: 17pt;
}

.menu .items .item-active {
    background-color: #5172c3; /* Dunkle Hintergrundfarbe für das aktive Menüelement */
    color: #FFFFFF; /* Helle Textfarbe für das aktive Menüelement */
}

.menu .items .item:hover {
    cursor: pointer;
    background-color: #4f6ebd; /* Dunkle Hintergrundfarbe bei Hover über ein Menüelement */
    color: #cfe5ff; /* Helle Textfarbe bei Hover über ein Menüelement */
}

/* === KONVERSATIONEN === */

.discussions {
    width: 35%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.20);
    overflow: hidden;
    background-color: #2E2E2E; /* Dunkle Hintergrundfarbe für den Konversationsbereich */
    display: inline-block;
}

.discussions .discussion {
    width: 100%;
    height: 90px;
    background-color: #3A3A3A;
    border-bottom: solid 1px #4C4C4C;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.discussions .search {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4C4C4C;
}

.discussions .search .searchbar {
    height: 40px;
    background-color: #555555; /* Dunkle Hintergrundfarbe für die Suchleiste */
    width: 70%;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid #666666;
    display: flex;
    align-items: center;
    cursor: pointer;
}

a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: #FFFFFF; /* Helle Textfarbe für Links */
}

a:hover {
    text-decoration: underline;
}

.discussions .search .searchbar input {
    margin-left: 15px;
    height: 38px;
    width: 100%;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF; /* Helle Textfarbe für den Suchbar-Text */
}

.discussions .search .searchbar *::-webkit-input-placeholder {
    color: #4C4C4C;
}

.discussions .search .searchbar input *:-moz-placeholder {
    color: #4C4C4C;
}

.discussions .search .searchbar input *::-moz-placeholder {
    color: #4C4C4C;
}

.discussions .search .searchbar input *:-ms-input-placeholder {
    color: #4C4C4C;
}

.discussions .message-active {
    width: 98.5%;
    height: 90px;
    background-color: #333333;
    border-bottom: solid 1px #4C4C4C;
}

.discussions .discussion .photo {
    margin-left: 20px;
    display: block;
    width: 45px;
    height: 45px;
    background: #434343;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.online {
    position: relative;
    top: 30px;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #8BC34A;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
}

.desc-contact {
    height: 43px;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discussions .discussion .name {
    margin: 0 0 0 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    color: #fff;
}

.discussions .discussion .message {
    margin: 6px 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 21pt;
    color: #515151;
}

.timer {
    margin-left: 15%;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    padding: 3px 8px;
    color: #BBB;
    background-color: #333333;
    border: 1px solid #444444;
    border-radius: 15px;
}

.chat {
    width: calc(65% - 85px);
}

.header-chat {
    background-color: #333333;
    height: 90px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.100);
    display: flex;
    align-items: center;
}

.chat .header-chat .icon {
    margin-left: 30px;
    color: #fff;
    font-size: 14pt;
}

.chat .header-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    color: #fff;
}

.chat .header-chat .right {
    position: absolute;
    right: 40px;
}

.chat .messages-chat {
    padding: 25px 35px;
}

.chat .messages-chat .message {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.chat .messages-chat .message .photo {
    display: block;
    width: 45px;
    height: 45px;
    background: #434343;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chat .messages-chat .text {
    margin: 0 35px;
    background-color: #444444;
    padding: 15px;
    border-radius: 12px;
}

.text-only {
    margin-left: 45px;
}

.time {
    font-size: 10px;
    color: lightgrey;
    margin-bottom: 10px;
    margin-left: 85px;
}

.response-time {
    float: right;
    margin-right: 40px !important;
}

.response {
    float: right;
    margin-right: 0px !important;
    margin-left: auto; /* Flexbox-Ausrichtungsregel */
}

.response .text {
    background-color: #334455 !important;
}

.footer-chat {
    width: calc(65% - 66px);
    height: 80px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: #2E2E2E;
    border-top: 2px solid #444444;
}

.chat .footer-chat .icon {
    margin-left: 30px;
    color: #C0C0C0;
    font-size: 14pt;
}

.chat .footer-chat .send {
    color: #fff;
    background-color: #4f6ebd;
    position: absolute;
    right: 50px;
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
    font-size: 14pt;
}

.chat .footer-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    color: #515151;
}

.chat .footer-chat .right {
    position: absolute;
    right: 40px;
}

.write-message {
    border: none !important;
    width: 60%;
    height: 50px;
    margin-left: 20px;
    padding: 10px;
    background-color: #555555; /* Dunkle Hintergrundfarbe für das Eingabefeld */
    color: #FFFFFF; /* Helle Textfarbe für das Eingabefeld */
}

.footer-chat *::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}

.footer-chat input *:-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}

.footer-chat input *::-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
    margin-left: 5px;
}

.footer-chat input *:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}

.clickable {
    cursor: pointer;
}